* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--body-color);
  background-color: var(--body-bg);
}

body {
  overflow-y: scroll;
  scrollbar-width: auto;
  scrollbar-color: #C1C1C1 #F1F1F1;
  
  &::-webkit-scrollbar {
    width: 0.75rem;
  }
 
  &::-webkit-scrollbar-track {
      background: #F1F1F1;
  }
 
  &::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    
    &:hover {
      background: #A8A8A8; 
    }
  } 
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  letter-spacing: -1px;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

figure {
  margin: 0;
  display: inline-block;
  position: relative;
}

figcaption {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: var(--body-font);
  font-size: 14px;
  border-radius: var(--border-radius);
  padding: 5px 15px;
  position: absolute;
  bottom: 5%;
  left: 5%;
  text-align: left;
  z-index: 10;
  width: auto;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
  border-radius: var(--border-radius);
}

@media (max-width: $md-screen) {
  .slider, .img-fit {
    width: 100%!important;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

code,
pre {
  font-family: var(--code-font);
}

code {
  padding: .1em .25em;
  background-color: var(--code-bg);
  border-radius: var(--border-radius);
}

pre {
  overflow: auto;
  padding: 1em;
  margin: 1em 0;

  code {
    padding: 0;
    background-color: inherit;
  }
}

blockquote {
  padding: 0 1em;
  margin: 0 0 1em 0;
  border-left: .25em solid var(--border-color);
  color: var(--body-color-light);
}

table {
  margin: 1em 0;
  width: 100%;
  border: 0 solid var(--border-color);
  border-collapse: collapse;
}

td,
th {
  padding: .25em .5em;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
}

th {
  text-align: left;
}

thead th {
  border-bottom-color: currentColor;
}

tfoot td {
  border-top-color: currentColor;
  border-top-width: 1px;
  background-color: var(--border-color);
}

mark {
  padding: .15em;
  border-radius: var(--border-radius);
  color: var(--message-color);
  background-color: var(--message-bg);
}

hr {
  position: relative;
  margin: 2em 0;
  border: 0;
  border-top: 1px solid var(--border-color);
}

.hl {
  color: var(--message-bg);
}

abbr {
  font-weight: bold;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted var(--border-color);
  }
}

@media (min-width: $md-screen) {
  body {
    font-size: 120%;
  }
}
