<style>
  hr { 
    background: url('https://i.ibb.co/rvY9W4K/hahn.png') no-repeat top center;
    background-size: contain;
    display: block;
    height: 32px;
    border: 0;
    position: relative;
}
hr:before,
hr:after {
    content: '';
    display: block;
    position: absolute;
    background: white;
    height: 3px;
    top: 14px;
}
hr:before {
    left: 0;
    right: 50%;
    margin-right: 20px;
}
hr:after {
    right: 0;
    left: 50%;
    margin-left: 20px;
}
</style>

<header class="header">
  <p class="brand-title">{{ site.title }}</p>
  <p class="brand-tagline">{{ site.tagline }}</p>
  <img style="position: absolute; width: 32px; top: -2em" src="https://i.ibb.co/rvY9W4K/hahn.png" alt="hahn" border="0"/>
  <hr style="border: 2px solid white">
  
  <hr/>

  {% if site.data.navigation %}
    <nav class="nav pure-menu">
      <ul class="pure-menu-list">
      {% for item in site.data.navigation %}
        <li class="nav-item pure-menu-item">
          <a href="{{ item.url | relative_url }}" class="pure-menu-link {% if page.url == item.url %}current{% endif %}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </nav>
  {% endif %}
</header>
