<header class="header">
  <p class="brand-title">{{ site.title }}</p>
  <p class="brand-tagline">{{ site.tagline }}<br><span style="font-style: normal">★★★</span></p>
  <hr class="custom-hr"/>

  {% if site.data.navigation %}
    <nav class="nav pure-menu">
      <ul class="pure-menu-list">
      {% for item in site.data.navigation %}
        <li class="nav-item pure-menu-item">
          <a href="{{ item.url | relative_url }}" class="pure-menu-link {% if page.url == item.url %}current{% endif %}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </nav>
  {% endif %}
</header>
