<header class="header">
  <p class="brand-title">{{ site.title }}</p>
  <p class="brand-tagline">{{ site.tagline }}</p>
  <img style="position: absolute; width: 32px; top: -2em" src="https://i.ibb.co/rvY9W4K/hahn.png" alt="hahn" border="0"/>
  <hr style="border: 2px solid white">

  {% if site.data.navigation %}
    <nav class="nav pure-menu">
      <ul class="pure-menu-list">
      {% for item in site.data.navigation %}
        <li class="nav-item pure-menu-item">
          <a href="{{ item.url | relative_url }}" class="pure-menu-link {% if page.url == item.url %}current{% endif %}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </nav>
  {% endif %}
</header>
