.custom-hr { 
    background: url('https://i.ibb.co/rvY9W4K/hahn.png') no-repeat top center;
    background-size: contain;
    display: block;
    height: 32px;
    border: 0;
    position: relative;
}
.custom-hr:before,
.custom-hr:after {
    content: '';
    display: block;
    position: absolute;
    background: white;
    height: 3px;
    top: 14px;
}
.custom-hr:before {
    left: 0;
    right: 50%;
    margin-right: 20px;
}
.custom-hr:after {
    right: 0;
    left: 50%;
    margin-left: 20px;
}
